How-to-and-a-checklist.txt
.meliczyta_video
.video
meliczyta_video.mp4
how-it-should-look.png
.node_modules
.video_video
 git filter-branch --force --index-filter \
  'git rm --cached --ignore-unmatch .video/meliczyta_video' \
  --prune-empty --tag-name-filter cat -- --all