@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    height: 100%;
    margin: 0;
}

section {
    display: flex;
    height: 100vh;
    /* width: 100vh; */
}

/* section:nth-child(1) {
    background: lightblue;
}

section:nth-child(2) {
    background: lightgreen;
}

section:nth-child(3) {
    background: purple;
}

section:nth-child(4) {
    background: red;
}

section:nth-child(5) {
    background: yellow;
} */

.showcase {
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111;
    z-index: 2;
    color: #fff;
    transition: 1.5s;
}

.showcase.active {
    right: 220px;
}

.showcase header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    text-transform: uppercase;
    cursor: pointer;
}

.toggle {
    position: relative;
    width: 60px;
    height: 60px;
    background: url(./icons/menu.png);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    cursor: pointer;
}

.toggle.active {
    position: relative;
    width: 60px;
    height: 60px;
    background: url(./icons/close.svg);
    background-repeat: no-repeat;
    background-size: 25 px;
    background-position: center;
    cursor: pointer;
}

.showcase video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.7;
}

.text {
    position: absolute;
    z-index: 10;
}

.text h2 {
    font-size: 5em;
    line-height: 1em;
}

.text h3 {
    font-size: 4em;
}

.text p {
    font-size: 1.1em;
    margin: 20px 0;
    max-width: 700px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #03A9f4;
    mix-blend-mode: overlay;
}

.overlay-text a {
    display: inline-block;
    position: absolute;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 1em;
    background: #fff;
    padding: 10px 30px;
    text-decoration: none;
    color: #111;
    margin-top: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: 0.5s;
}

.overlay-text a:hover {
    letter-spacing: 6px;
}

.social {
    position: absolute;
    bottom: 0px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 20%;
}

.social li {
    list-style: none;
}

.social li a {
    display: inline-block;
    filter: invert(1);
    margin-right: 20px;
    transform: scale(0.5);
    transition: 0.5s;
}

.social li a:hover {
    transform: scale(0.5) translateY(-15px);
}

.social img {
    width: 50px;
}

.menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 220px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu ul {
    position: relative;
    list-style: none;
}

.menu ul li {
    padding: 10px;
}

.menu ul li a {
    text-decoration: none;
    font-size: 24px;
    color: #111;
}

.menu ul li a:hover {
    color: #03A9f4;
}

.player {
    /* width: 400px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* flex-wrap: wrap; */
    /* position: absolute; */
    /* left: 0; */
    /* padding-left: 40px; */
    /* width:30%; */
    /* margin-right: 10px; */
    /* align-items: center; */
    /* margin-left: 40px; */
    
}

.player audio {
    /* display: flex; */

    width: 90%;
}

.player p {
    margin: 10px;
    padding: 10px;
    font-size: 1.1em;
    /* margin-top:10px;
   padding: 20px; */
}


/* .sampleplayer audio {
    padding: 17px;
    
    filter: sepia(100%) saturate(50%) grayscale(1) contrast(50%) invert(99%);
    
} */


.about-me {
    position: absolute;
    right: 0; 
    padding-top: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transition: 0.5s;
}

.about-me p {
    display: flex;
    padding: 50px;
    text-align: justify;
    width: 50%;
    /* max-width: 700px; */
    /* align-self: flex-end; */
}

.about-me img {
    /* margin-right: 50px; */
    align-self: center;
    max-height: 300px;
    border-radius: 400px;
    border: 2px solid #fc8d5a;
}

@media(max-width: 600px) {
        /* SMALL SCREEN */
    .showcase,
    .showcase header {
        padding: 20px;

    }

    .text h2 {
        font-size: 3em;
    }

    .text h3 {
        font-size: 2em;
    }

    .text p {
        font-size: 0.9em;
        padding-right: 20px;
    }



    .social {
        padding-left: 150px;
        padding-bottom: 20px;
    }

    .social li {
        margin-left: 1px;
    }

    .social li a {
        margin-left: 0px;
    }
    .about-me{
        align-items: center;
    }
    .about-me p{
        padding:15px;
    }
    .about-me img {
        height: 150px;

    }
    audio {
    filter:invert(99%);
    }
}

@media(min-width: 600px) {
.player audio {
    width: 40%;
}
audio:hover, audio:focus, audio:active
{
-webkit-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.2);
-moz-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.2);
box-shadow: 15px 15px 20px rgba(0,0, 0, 0.2);
-webkit-transform: scale(1.01);
-moz-transform: scale(1.01);
transform: scale(1.01);
}

audio
{

filter:invert(99%);
-webkit-transition:all 0.3s linear;
-moz-transition:all 0.3s linear;
-o-transition:all 0.3s linear;
transition:all 0.3s linear;
-moz-box-shadow: 2px 2px 4px 0px #03A9f4;
-webkit-box-shadow:  2px 2px 4px 0px #03A9f4;
box-shadow: 2px 2px 4px 0px #03A9f4;
-moz-border-radius:30px 30px 30px 30px ;
-webkit-border-radius:30px 30px 30px 30px ;
border-radius:30px 30px 30px 30px ;
}
}